{:store :database
 :migration-dir "migrations"
 :command-separator "--;;"
 :db {:dbtype "postgresql"
      :host "localhost"
      :port 5432
      :dbname "university"
      :user "postgres"
      :password "password"}}
